[submodule "vendor/plugins/fieldset_helper"]
	path = vendor/plugins/fieldset_helper
	url = git://github.com/iain/fieldset_helper.git
[submodule "vendor/plugins/settingslogic"]
	path = vendor/plugins/settingslogic
	url = git://github.com/binarylogic/settingslogic.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
